body {
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: url('Images/img-8918.jpg');
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  z-index: 1000;
}

.logo {
  height: 50px;
  width: auto;
}

.head {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
  width: 450px;
  left: 0;
}

.head .full {
  display: none;
  margin-left: 8px;
  transition: opacity 0.3s ease-in-out;
}

.head:hover .short {
  display: none;
}

.head:hover .full {
  font-size: 24px;
  display: inline;
  opacity: 1;
  font-family: 'Aclonica';
}

.brand {
  display: grid;
  align-items: center;
}

.brand>.short,
.brand>.full {
  grid-area: 1 / 1;
  transition: opacity 0.9s ease, transform 0.9s ease;
  will-change: opacity, transform;
}

.brand>.short {
  opacity: 1;
  transform: scale(1);
}

.brand>.full {
  opacity: 0;
  transform: scale(0.92);
  pointer-events: none;
}

.head:hover .brand>.short {
  opacity: 0;
  transform: scale(0.92);
}

.head:hover .brand>.full {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

ul li a {
  color: ivory;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}

.nav ul li a.active {
  color: goldenrod;
  font-weight: bold;
}

ul li a:hover {
  color: goldenrod;
  text-decoration: underline;
}

marquee {
  margin-top: 78px;
}

/* Carousel section */
.carousel {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  margin: auto;
}

.slides {
  display: flex;
  height: 100%;
  animation: slideAnim 25s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Auto sliding animation */
@keyframes slideAnim {

  0%,
  20% {
    transform: translateX(0%);
  }

  25%,
  40% {
    transform: translateX(-100%);
  }

  45%,
  60% {
    transform: translateX(-200%);
  }

  65%,
  80% {
    transform: translateX(-300%);
  }

  85%,
  100% {
    transform: translateX(-400%);
  }
}

marquee {
  margin-top: 78px;
}

section {
  padding: 50px 20px;
  margin: auto;
}

/* about section */
.about {
  background-color: #ebebeb;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
  color: #d97706;
  font-size: 35px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.about-text h3 {
  margin-top: 15px;
  color: orange;
}

.about-text ul {
  margin: 10px 0 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about-text ul li {
  margin-bottom: 8px;
  list-style: disc;
}

.about-img {
  flex: 1;
  opacity: 0;
  transform: translateX(100px);
  transition: all 2.2s ease-in-out;
}

.about-img.show {
  opacity: 1;
  transform: translateX(0);
}

.about-img img {
  width: 100%;
  border-radius: 10px;
}

/* Product section */
.products {
  text-align: center;
  padding: 50px 20px;
  background-image: url('Images/img-8926.jpg');
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.62) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.products h2 {
  font-size: 35px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 60px;
  margin-left: 40px;
}

.card {
  width: 325px;
  height: 230px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .75s ease, box-shadow .25s ease;
}

.card-front:hover {
  transform: scale(1.2);
  transition: transform(0.3s) ease-in-out;
  color: goldenrod;
  border-bottom-style: solid;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card-back {
  background: #ebebeb;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back h3 {
  margin-bottom: 10px;
}

.card-back p {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  padding: 8px 14px;
  color: #333;
  text-decoration: none;
  border: #3654ff 0.2em solid;
  border-radius: 5px;
  transition: all 0.6s ease;
}

.btn:hover {
  background: #3654ff;
  color: #fff;
  cursor: pointer;
}

/* Gallery section */
:root {
  --num: 5;
  --wd: 130;
  --gap: 20;
}

.gallery-wrap {
  background-color: #ebebeb;
}

.carousel-gallery {
  display: flex;
  align-items: flex-start;
  height: 50vh;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
}

.carousel-gallery .gallery {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  position: relative;
  perspective: 40em;
}

.carousel-gallery .gallery .card img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 16px #cecece;
  /* -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)); */
}

.carousel-gallery .gallery .card {
  width: 215px;
  height: auto;
  position: absolute;
  transform-style: preserve-3d;
  left: 100%;
  animation: slide 9s linear infinite,
  scaleEffect 9s ease-in-out infinite;
  animation-delay: calc(9s * ((var(--timer) - 1) / var(--num) - 1));
  transition: transform 0.25s ease-in-out;
}

@keyframes slide {
  from {
    left: 100%;
  }

  to {
    left: calc(-1 * var(--wd)* 1px);
  }
}

@keyframes scaleEffect {

  0%,
  40%,
  60%,
  100% {
    transform: scale(1) rotateY(-180deg);
    z-index: 0;
    filter: grayscale(1);
  }

  50% {
    transform: scale(1.5) rotateY(0deg);
    z-index: 10;
    filter: grayscale(0);
  }
}

/* why section */
.why-wrap {
  padding: 70px 20px;
  text-align: center;
  background-image: url('Images/slide-7.jpg');
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.62) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.title {
  font-size: 35px;
  margin: 0 0 10px;
  color: #d97706;
}

.subtitle {
  margin: 0 auto 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.art-card {
  background: #ebebeb;
  height: 30vh;
  border-radius: 14px;
  padding: 25px 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform .25s ease, box-shadow .25s ease;
}

.art-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: goldenrod;
  border-bottom-style: solid;
}

.art-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #222;
}

.art-card p {
  margin: 0;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
}

/* footer */
.footer {
  background: #ebebeb;
  color: #222;
  padding: 50px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-col h3 {
  color: #f59e0b;
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col p {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #f59e0b;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  font-size: 13px;
  color: #555;
}

/* Default: hide hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  color: ivory;
  cursor: pointer;
}

/* responsive */
@media only screen and (max-width: 1200px) {
  .carousel-gallery .gallery .card {
    width: calc(var(--wd) / 2 * 1px);
  }
}

/* Large screens (desktops < 1200px) */
@media (max-width: 1200px) {
  .card-container {
    gap: 30px;
    flex-wrap: wrap;
  }

  .carousel-gallery .gallery .card {
    width: 160px;
  }

  .footer iframe{
    width: auto;
  }
}

/* Tablets (max-width: 992px) */
@media (max-width: 992px) {
  .header {
    flex-direction: row;
    padding: 2px;
    text-align: center;
    width: auto;
  }


  ul {
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    margin-right: 25px;
  }

  .about-container {
    flex-direction: column;
    /* text-align: center; */
  }

  .about-img img {
    max-width: 80%;
    margin-left: 2rem;
  }

  .card-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 40px;
    gap: 20px;
  }

  .products h2 {
    font-size: 26px;
  }

  .carousel-gallery .gallery {
    height: 200px;
  }

  .why-grid {
    grid-template-columns: 1fr;
  }

  .art-card {
    height: 150px;
    width: 250px;
    padding: 20px;
    margin: auto;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

/* Mobile devices (max-width: 768px) */
@media (max-width: 768px) {

  .header {
    display: flex;
    justify-content: space-evenly;
  }

  .carousel {
    height: 300px;
  }

  .carousel-gallery .gallery .card {
    width: 120px;
  }

  .products h2 {
    font-size: 22px;
  }

  .card {
    width: 260px;
    height: 200px;
  }

  .about-text h3 {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .footer-col h3 {
    font-size: 16px;
  }

  .footer-col p,
  .footer-col ul li a {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .head .full {
    display: none !important;
  }

  .head .short {
    display: block !important;
  }

  .head:hover .brand>.short {
    opacity: 1;
    pointer-events: none !important;
  }

  .header {
    max-width: 100%;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    /* border-radius: 8px; */
  }

  .header-nav.active {
    display: block;
  }

  .header-nav ul li a:hover {
    color: #f59e0b;
    text-decoration: underline;
  }

  .header-nav ul {
    margin: auto;
    gap: 25px;
  }

  .header-nav ul li a {
    font-size: 16px;
    color: white;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  marquee {
    margin-top: 70px;
  }

  .carousel {
    height: 400px;
  }

  .carousel-gallery{
    flex-direction: column;
  }

  .carousel-gallery .gallery .card {
    width: 100px;
  }

  .products h2 {
    font-size: 20px;
  }

  .card {
    width: 220px;
    height: 180px;
  }

  h2 {
    font-size: 20px;
  }

  .title {
    font-size: 22px;
  }

  .art-card p {
    font-size: 13px;
  }

  :root {
    --num: 4;
    --wd: 150;
    --gap: 15;
  }

  .subtitle {
    width: 100%;
    height: 100%;
  }

  .footer {
    padding: 30px 10px;
  }
}